<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbtJQQg4aLeBpD32we9IpamhJf17iITEc</string>
	<key>GCM_SENDER_ID</key>
	<string>316664607861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viet.campusdude</string>
	<key>PROJECT_ID</key>
	<string>viet-campus-dude</string>
	<key>STORAGE_BUCKET</key>
	<string>viet-campus-dude.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316664607861:ios:dddb66c1d99a6c208df43c</string>
</dict>
</plist>